:root {
    --color-change: #2196F3;
    --color-title: #212121;
    --color-text: #757575;
    --color-background: #F5F5F5;
    --color-background-footer: #2F303A;
    --color-white: #FFFFFF;
    --color-logo-second: #000000;
    --color-background-team: #F5F4FA;
    --color-border: #EEEEEE;
    --color-border-header: #ECECEC;
    --color-main: #2F303A66;
    --color-icons: #AFB1B8;
    --gradient: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4));
    }